.footer {
  padding-top: 40px;
  background-color: var(--blue-primary);

  @media screen and (min-width: 1266px) {
    padding: 80px 0;
    position: relative;
  }


  &__title {
    margin-bottom: 40px;
    text-align: center;
    color: #FFFFFF;

    @media screen and (min-width: 1266px) {
      max-width: 803px;
      padding: 0 30px;
      align-self: center;
    }
  }

  &__btn {
    margin-bottom: 24px;
    align-self: center;

    @media screen and (min-width: 1266px) {
      background: var(--green);
    }
  }

  &__wrapper{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    @media screen and (min-width: 1266px) {
      justify-content: normal;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  &__image {

    @media screen and (min-width: 1266px) {
      position: absolute;
      &:nth-child(2) {
        right: 0;
      }
    }
  }
}